*{
  padding: 0;
  margin: 0;
}

body {
    font-family: Tahoma, sans-serif;   
    text-align: center;
    background-color: #04245B;
    color: black;
    overflow: hidden;
  }

.content h1, p{
    padding: 10px;
  }


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  h1 {
    color: #04245B;
    font-size: 45px;
  }
 

  .check{
    height: 100px; 
    width: 100px;
  }

  .check-order {
    width: 300px;
    height: 100px;
    background-color: #EBA900;
    color: black;
    font-size: 40px;
    border: 0px solid transparent;
    cursor: pointer;
    border-radius: 20px;
  }

  .shrink-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.9);
  }

  #timeDis {
    font-size: 50px;
    padding-bottom:30px;
    margin: none;
  }

#displayText {
  font-size: 25px;
}


.content {
  width: 800px;
  height: 515px;
  padding-top: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
}


@media only screen and (min-width: 945px) and (max-width: 1280px) {

  .content {
    width: 750px;
    height: 500px;
    padding-top: 15px;

  }
}


@media only screen and (min-width: 375px) 
and (max-width: 812px){ 

 .content {
  width: 330px;
  padding: 15px;
 }

 #timeDis {
  padding-bottom: 15px;
 }

 .container {
  margin-top: -40px;

 }


}

